/* DROPDOWN */
.dropdown {
    width: 18%;
    margin-right: 1%;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    border-radius: 5px;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    height: 100%;
    background-color: inherit;
    margin: 0; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2px;
    border-bottom: 3px solid orange;
    border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

.dropdown-content button {
  float: none;
  color: black;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  color: white;
  background-image: none; 
  background-color: transparent;
  outline: none;
  border: 0;
}

.auth_container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: relative;
  min-width: 5%;
}

.dropdown:hover{
    background-color: orange;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.dropdown-content button:hover {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------- */


.filter-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2e2e2;
}

header#header_container {
  background-image: url("img/screen.jpg");
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

#navbar a {
  float: left;
  display: block;
  border: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar progress {
  z-index: 5;

  width: 100%;
  height: 3px;
  display: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: none;

  background-color: transparent;

  color: red;
}

#navbar progress::-webkit-progress-bar {
  background-color: transparent;
}

#navbar progress::-webkit-progress-value {
  background-color: red;
}

#navbar progress::-moz-progress-bar {
  background-color: red;
}

#navbar>button { 
  background-color: #333;
  border: none; 
  color: white; 
  padding: 14px 16px;
  font-size: 17px;
  cursor: pointer;
  float: right;
  margin-right: 5%;
  display: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: orange;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

footer img{
  height: 50px;
  width: 50px;
  float: left;
}

footer {
  margin: 2% 1%;
  background-color: #e2e2e2;
}

footer p {
  padding: 5px;
  padding-left: 60px;
  font-size: 18px;
  align-items: center;
}

footer>hr {
  margin-bottom: 5px;
  color: orange;  
}


p[class |="text2"]{
    color: red;
}

* {
  box-sizing: border-box;
}


div.search {
    width: 81%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 95%;
    background: #f1f1f1;
    border-radius: 5px;
}

div.search button {
    width: 5%;
    padding: 10px;
    background: orange;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    min-width: 45px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}


.content {   
     z-index: 0;
}

#mainPage .ranobe-content {
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 0; 
    padding-left: 0;
}

/* RANOBE----------------------------------------------------------------------------------------------------------------------------- */
.ranobe-column {
    min-width: 200px;
    max-width: 24%;
    flex: 1 1 24%;
    text-align: center;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange; 
    list-style-type: none;
}

.status-label {
    padding: 2px 10px;
    position: absolute;
    right: 0;
    top: 25px;
    color: #fff;
    background: rgba(0,0,0,.7);
    font-weight: 400;
    text-transform: uppercase;
}

.image-block  {
    display: block;
}

.year-block {
    position: absolute;
    color: #fff;
    font-weight: 400;
    right: 0;
    padding: 2px 10px;
    background: rgba(0,0,0,.7);
}

.icons-row {
    margin-bottom: 5px;
    margin-left: 1px;
}

.ranobe-title {
  background-color: #333;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ranobe-column>a {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: block;
    color:  white;
    text-decoration: none;
}

.ranobe-column img {
  width: 100%;
  max-height: 450px;
  display: block;
}

.ranobe-img img{
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    display: block;
}

.intro {
    width: 250px;
    padding-left: auto;
    padding-right: auto;
}


.ranobe-info>h2{
  text-align: left;
}

.ranobe-info {
  flex: 100px;
  padding-left: 15px;
  padding-right: 15px;
}



#readnow:hover{

background-color: orange;
color: white;
}

#ranobePage > .ranobe-content{
  border: 2px solid orange; 
  position: relative;
  margin-top: 10px;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  background-color: white;
  flex-flow: row wrap;
}

.ranobe-content-info{
  flex: 1 1 300px;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 70%;
}

.ranobe-header {
  width: 100%;
}

.ranobe-header > h1{
  margin-top: 20px;
  text-align: center;
}

.ranobe-header > hr {
  color: orange;
}

.ranobe-action {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.ranobe-action>a {
  border: 2px solid orange;
  background-color: white;
  color: orange;
  padding: 14px 28px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  float: right;
}

#rnb_rate {
  color: #000;
  font-size: 45px;
}

#rnb_rate:hover {
  color: yellow;
  font-size: 45px;
  cursor: pointer;
}

.ranobe-img {
  flex: 2 2  200px;
  width: 30%;
  max-width: 450px;
}

.ranobe-img>img{
  max-width: 100%;
  height: 500px;
}

.rating .checked {
  color: orange;
  font-size: 35px;
}

.rating > label {
  color: #000;
  font-size: 35px;
}


#ranobePage > a {
  color: orange;
}


/* ----------------------------------------------------------------------------------------------------------------------------------- */

.login_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
}

#signin_btn {
background-color: white;
border: 1px solid black;
color: black;
padding: 14px 20px;
margin: 8px 0;
cursor: pointer;
float: left;
display: none;
}

#signup_btn {
background-color: #4CAF50;
color: black;
border: 1px solid black;
padding: 14px 20px;
margin: 8px 0;
cursor: pointer;
float: left;
display: none;
}

button:hover {
opacity: 0.8;
}
.container {
padding: 16px;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
}

span.psw {
float: right;
padding-top: 16px;
}

.modal {
display: none;
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.container>h1 {
text-align: center;
font-size: 25px;
}

.user-container {
  display: flex;
  flex-flow: row wrap;
}

.user-container>.user-info{
  flex: 100px;
  padding-left: 10px;
}

.user-container>img{
  flex: 0 1 400px;
  min-width: 100px;
  min-height: 250px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.text>h1{
  font-size: 20px;
}

.user-info span{
  align-self: flex-end;
  margin-right: 1%;
}

.user-info>button {
  flex: 0 0 50px;
  max-width: 100px;
  max-height: 45px;
  align-self: flex-end;
  border: 2px solid red;
  background-color: white;
  color: red;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
  margin-right: 1%;
  margin-bottom: 1%;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto;
  border: 1px solid #888;
  width: 50%; 
  border: 2px solid orange;
  border-radius: 5px;
}

.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

.success {
background-color: #4CAF50;
width: 100%;
border-radius: 5px;
height: 35px;
}
.success:hover {background-color: #46a049;}


.close
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}

.close button{
  color: #000;
  font-size: 35px;
  background-image: none; 
  background-color: transparent;
  outline: none;
  border: 0;
}

.close button:hover {
  color: red;
  cursor: pointer;
}

/* CHAPTER --------------------------------------------------------------------------------------------------------------------------*/

.text-input {
  height: 300px;
  width: 100%;
  resize: none;
}

.chapter-actions {
  padding-bottom: 20px;
}

#previous {
  float: left;
  display: none;
}

#next {
  float: right;
  display: none;
}

.chapter-actions a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 50px; 
   text-decoration: none;
   color: orange;
}

.chapter-versions {
  display: flex;
  flex-flow: row nowrap;
  gap: 1%
}

.chapter-add {
  border: 2px solid green;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  height: 60px;
  margin-right: 10px;
  font-size: 2vw;
}

.chapter-add:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.chapter-version {
  flex: 1 1 200px;
  height: 60px;
  max-width: 25%;
  background-color: #e2e2e2;
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  font-size: 2vw;
  padding: 10px 5px;
}

span.chapter-version:hover {
  background-color: white;
  cursor: pointer;
}

span.active{
  background-color: white;
}

.chapter-header {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 3%;
  padding-bottom: 3%;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.chapter-header > .ranobe-name {
  color: black;
  text-shadow: black;
  font-size: 5vw;
}

.chapter-header > .chapter-name {
  text-decoration: none;
  font-size: 3vw;
}

hr {
  color: orange;
  display: block;
}

.chapter-text-container {
  margin-bottom: 10px;
}

.chapter-text {
  font-size: 2vw;
  padding-top: 10px;
}

#chapterPage {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  border-radius: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------*/

#errorPage {
  max-width: 1300px;
  height: 550px;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Helvetica;
  background: url('img/404.gif') no-repeat 100% 50%;
}

.center h1 {
  font-size: 144px;
  font-weight: 100;
  color: white;
}



@media screen and (max-width: 500px) {

  .dropdown-content button {
    font-size: 2vw;
  }

  #error-page { 
    max-width: 500px;
    height: 550px;
  }

  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .ranobe-column {
    min-width: 100%;
  }

  #signin_btn {
    padding: 8px 14px;
  }

  #signup_btn {   
    padding: 8px 14px;
  }

  .dropdown .dropbtn {
    font-size: 13px;
  }

  .user-info>h1 {
    font-size: 15px;
  }

  .close {
    font-size: 22px;
  }

  .user-container>img {
    height: 150px;
    width: 150px;
  }

  .chapter-version > h1 {
    font-size: 4vw;
  }

  .chapter-header > .ranobe-name {
    font-size: 19px;
  }
  
  .chapter-header > .chapter-name {
    font-size: 18px;
  }

  .chapter-version,.chapter-add {
    height: 40px;
  }

  .chapter-text {
    font-size: 17px;
  }

  .user-info>button {
    padding: 8px 14px;
  }

  .ranobe-info>h2{
    font-size: 17px;
  }
  
  .ranobe-info>h1{
    font-size: 23px;
  }

  .footer img {
    height: 25px;
    width: 25px;
  }
  .footer p {
    font-size: 10px;
  }

  .modal-content {
    margin: 15% auto 10% auto;
    width: 75%; 
  }
}


